<%- include header %>
  <form method="post">
      <div>
        <p>标题：</p>
        <input type="text" name="title" />
      </div>
      <div>
        <p>正文：</p>
        <textarea name="post" rows="20" cols="100"></textarea>
      </div>
      <div>
          <input type="submit"  value="发表"/>
      </div>
  </form>
<%- include footer %>